/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #222235;
    --color01: #b68588;
    --color02: #69977d;
    --color03: #78956b;
    --color04: #8691bd;
    --color05: #a588ab;
    --color06: #70a8b1;
    --color07: #B8B7CB;
    --color08: #74747b;
    --color09: #e1a8ac;
    --color10: #89be9c;
    --color11: #99bc84;
    --color12: #aab5ed;
    --color13: #ba93c2;
    --color14: #6bbbc7;
    --color15: #c9c8d0;
}
