@define-color bg #222235;
@define-color fg #B8B7CB;
@define-color gray1 #69977d;
@define-color gray2 #74747b;
@define-color gray3 #8691bd;
@define-color gray4 #78956b;
@define-color gray5 #a588ab;
@define-color fg_bright #c9c8d0;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}