themes {
    current {
        text_unselected {
            base 184 183 203
            background 116 116 123
            emphasis_0 193 151 154
            emphasis_1 107 187 199
            emphasis_2 137 190 156
            emphasis_3 186 147 194
        }
        text_selected {
            base 184 183 203
            background 116 116 123
            emphasis_0 193 151 154
            emphasis_1 107 187 199
            emphasis_2 137 190 156
            emphasis_3 186 147 194
        }
        ribbon_selected {
            base 116 116 123
            background 137 190 156
            emphasis_0 225 168 172
            emphasis_1 193 151 154
            emphasis_2 186 147 194
            emphasis_3 170 181 237
        }
        ribbon_unselected {
            base 116 116 123
            background 184 183 203
            emphasis_0 225 168 172
            emphasis_1 184 183 203
            emphasis_2 170 181 237
            emphasis_3 186 147 194
        }
        table_title {
            base 137 190 156
            background 0
            emphasis_0 193 151 154
            emphasis_1 107 187 199
            emphasis_2 137 190 156
            emphasis_3 186 147 194
        }
        table_cell_selected {
            base 184 183 203
            background 116 116 123
            emphasis_0 193 151 154
            emphasis_1 107 187 199
            emphasis_2 137 190 156
            emphasis_3 186 147 194
        }
        table_cell_unselected {
            base 184 183 203
            background 116 116 123
            emphasis_0 193 151 154
            emphasis_1 107 187 199
            emphasis_2 137 190 156
            emphasis_3 186 147 194
        }
        list_selected {
            base 184 183 203
            background 116 116 123
            emphasis_0 193 151 154
            emphasis_1 107 187 199
            emphasis_2 137 190 156
            emphasis_3 186 147 194
        }
        list_unselected {
            base 184 183 203
            background 116 116 123
            emphasis_0 193 151 154
            emphasis_1 107 187 199
            emphasis_2 137 190 156
            emphasis_3 186 147 194
        }
        frame_selected {
            base 137 190 156
            background 0
            emphasis_0 193 151 154
            emphasis_1 107 187 199
            emphasis_2 186 147 194
            emphasis_3 0
        }
        frame_highlight {
            base 193 151 154
            background 0
            emphasis_0 186 147 194
            emphasis_1 193 151 154
            emphasis_2 193 151 154
            emphasis_3 193 151 154
        }
        exit_code_success {
            base 137 190 156
            background 0
            emphasis_0 107 187 199
            emphasis_1 116 116 123
            emphasis_2 186 147 194
            emphasis_3 170 181 237
        }
        exit_code_error {
            base 225 168 172
            background 0
            emphasis_0 120 149 107
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 186 147 194
            player_2 170 181 237
            player_3 0
            player_4 120 149 107
            player_5 107 187 199
            player_6 0
            player_7 225 168 172
            player_8 0
            player_9 0
            player_10 0
        }
    }
}
